#icon
    position: absolute
    top: 2rem
    left: 2rem
    width: 8rem
    z-index: 1
    filter: drop-shadow(2px 2px 4px black)
.carousel
    .carousel-inner, .carousel-item
        height: 100%
    img
        object-fit: cover
        object-position: center center
#banner
    background-color: black
#carouselExpBg
    padding-top: 40%
    padding-bottom: 40%
    .carousel-indicators
        bottom: 20%
    .carousel-inner
        height: 25vw
        border: 5px double white
#works
    position: relative
    &::after
        content: ""
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%)
        pointer-events: none
    .fire, .light, .workshop
        position: relative
        min-height: 80vh
        display: flex
        justify-content: center
        align-items: center
        h1
            background-color: rgba(0, 0, 0, .3)
            width: 100%
            text-align: center
            padding: 1rem
            margin: 0
            filter: drop-shadow(2px 2px 2px black)
        &::before
            content: ""
            position: absolute
            z-index: -1
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-size: cover
            background-position: center
            filter: brightness(1) saturate(0)
            transition: .3s
        &:hover::before
            filter: brightness(1) saturate(1)
    .fire::before
        background-image: url("/assets/img/works/fire.jpg")
    .light::before
        background-image: url("/assets/img/works/light.jpg")
    .workshop::before
        background-image: url("/assets/img/works/workshop.jpg")
#experience
    ul
        list-style: square
        li
            margin-bottom: .5rem
