#fr-filter {
  display: block;
  height: 3vw;
  width: 3vw;
  transform: translate(-40%, -40%);
  border-radius: 1.5vw;
  -webkit-backdrop-filter: invert(100);
  backdrop-filter: invert(100);
  pointer-events: none;
  position: fixed;
  z-index: 99999999;
}

#banner {
  background: linear-gradient(180deg, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 100%);
}

#works {
  position: relative;
}
#works::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 100%);
  pointer-events: none;
}
#works .fire, #works .light, #works .workshop {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  text-decoration: none;
}
#works .fire h1, #works .light h1, #works .workshop h1 {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: 0;
  filter: drop-shadow(2px 2px 2px black);
}
#works .fire::before, #works .light::before, #works .workshop::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(1) saturate(0);
  transition: 0.3s;
}
#works .fire:hover::before, #works .light:hover::before, #works .workshop:hover::before {
  filter: brightness(1) saturate(1);
  transform: scale(1.02);
}
#works .fire::before {
  background-image: url("/assets/img/works/fire.jpg");
}
#works .light::before {
  background-image: url("/assets/img/works/light.jpg");
}
#works .workshop::before {
  background-image: url("/assets/img/works/workshop.jpg");
}

#carouselExpBg {
  padding-top: 40%;
  padding-bottom: 40%;
}
#carouselExpBg .carousel-indicators {
  bottom: 20%;
}
#carouselExpBg .carousel-inner {
  height: 25vw;
  border: 4px solid white;
}

#experience {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
}
#experience ul {
  list-style: square;
}
#experience ul li {
  margin-bottom: 0.5rem;
}
#experience ul li::marker {
  color: orange;
}

@media (max-width: 767.9px) {
  #fr-filter {
    display: none;
  }
  #works .fire, #works .light, #works .workshop {
    height: 40vh;
  }
  #works .fire::before, #works .light::before, #works .workshop::before {
    filter: saturate(1);
  }
  #carouselExpBg {
    padding-top: 0;
    padding-bottom: 20%;
  }
  #carouselExpBg .carousel-indicators {
    bottom: 10%;
  }
  #carouselExpBg .carousel-inner {
    height: 55vw;
  }
}