#carouselBanner {
  height: 100vh;
}

#content {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  text-align: center;
  transform: translate(-50%, -50%);
  filter: drop-shadow(4px 4px 4px black);
}

@media (max-width: 767.9px) {
  #carouselBanner {
    height: 50vh;
  }

  #content {
    top: 25%;
  }
}