block variables
doctype
html(lang="zh-Hant-TW")
    head
        // 網頁設計－位元創意有限公司 b1t.tw 
        //  Global site tag (gtag.js) - Google Analytics 
        script(async src='https://www.googletagmanager.com/gtag/js?id=G-RY7G1RCLHQ')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());        
            gtag('config', 'G-RY7G1RCLHQ');
  
        title 旋舞炎 - #{title} | TS Fire Group | TS旋舞炎 | 旋舞炎
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(property="og:image" content="/assets/img/works/light.jpg")
        meta(name="description" content="旋舞炎於2004年成立，根基於台灣罕見的火舞專項，由熱愛火舞及光影藝術的舞者群，表演元素以東方文化為根本，結合現代舞、武術動作、傳統技藝，並融合了歐美的 Flow art 以及聲光互動科技，將光軌飛舞於夜空中呈現各種耀眼光紋，震撼迷人的光影藝術。")
        link(rel="shortcut icon" type="image/png" href="/assets/img/favicon.png")
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
        link(href='//fonts.googleapis.com/css?family=Lora:400' rel='stylesheet' type='text/css')
        script(src='//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-64156.js')
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
        link(rel="stylesheet" href="/assets/package/owlcarousel/owl.carousel.min.css")
        link(rel="stylesheet" href="/assets/package/owlcarousel/owl.theme.default.min.css")
        link(rel="stylesheet" href="/assets/css/base.css?version="+timestamp)
        block head
    body
        #fr-filter
        //#loading
            img(src="/assets/loading.svg", alt="")
        #bg-filter  
        a(href="/"): #icon: img.w-100(src="/assets/img/font_icon.svg", alt="", srcset="")
        a.burger(href='#' data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight'): span
        .offcanvas.offcanvas-end#offcanvasRight(tabindex='-1' aria-labelledby='offcanvasRightLabel')
            .offcanvas-body.mt-5
                .link-list.p-4
                    a(href="/#"): h4 關於我們
                    a(href="/#experience"): h4 海內外演出經歷
                    a(href="/#customer"): h4 合作客戶
                    a(href="/fire"): h4 火舞
                    a(href="/light"): h4 電幻
                    a(href="/workshop"): h4 課程
                .footer.container-fluid.mt-4.py-5: .center
                    p 專案經理 | 連長 Lien
                    p Phone：+886 921-133-355
                    p Email：firelien@hotmail.com
                    p Line：firelien
                    p
                        a(href='https://www.facebook.com/TSFIREGROUP' target='_blank'): img.footer-icon(src='/assets/img/facebook-square-brands.svg')
                        a(href='https://www.instagram.com/tsfiregroup/' target='_blank'): img.footer-icon(src='/assets/img/instagram-square-brands.svg')
        block body
        .footer.container-fluid.mt-5.py-5: .center
            p 專案經理 | 連長 Lien
            p Phone：+886 921-133-355
            p Email：firelien@hotmail.com
            p Line：firelien
            p
                a(href='https://www.facebook.com/TSFIREGROUP' target='_blank'): img.footer-icon(src='/assets/img/facebook-square-brands.svg')
                a(href='https://www.instagram.com/tsfiregroup/' target='_blank'): img.footer-icon(src='/assets/img/instagram-square-brands.svg')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')        
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        script(src="/assets/package/owlcarousel/owl.carousel.min.js")
        script.
            $(function() {
                //AOS.init()
                $("#offcanvasRight").on("show.bs.offcanvas", function() {
                    $(".burger").addClass("clicked")
                })
                $("#offcanvasRight").on("hide.bs.offcanvas", function() {
                    $(".burger").removeClass("clicked")
                })
            })
            $(document).on('mousemove', function (e) {
                let mx = e.clientX
                let my = e.clientY
                $("#fr-filter").css({"left": mx, "top": my})
            })
            /*
            $("body").css({"overflow": "hidden"})
            $( window ).on("load", function(){
                $("#loading").fadeOut();
                $("body").css({"overflow": "auto"})
            });*/
        block script
