extends ../_layout.pug
block variables
  - title = "電幻"
block head
  link(rel="stylesheet" href="/assets/css/light.css?version="+timestamp)
block body
  #banner
    #carouselBanner.carousel.slide.carousel-fade(data-bs-ride='carousel' data-bs-pause='false' data-bs-interval='3000')
      .carousel-indicators
        button.active(type='button' data-bs-target='#carouselBanner' data-bs-slide-to='0')
        button(type='button' data-bs-target='#carouselBanner' data-bs-slide-to='1')
        button(type='button' data-bs-target='#carouselBanner' data-bs-slide-to='2')
        button(type='button' data-bs-target='#carouselBanner' data-bs-slide-to='3')
        button(type='button' data-bs-target='#carouselBanner' data-bs-slide-to='4')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100.h-100(src='/assets/img/works/light/light01.jpg' alt='...')
        .carousel-item
          img.d-block.w-100.h-100(src='/assets/img/works/light/light02.jpg' alt='...')
        .carousel-item
          img.d-block.w-100.h-100(src='/assets/img/works/light/light03.jpg' alt='...')
        .carousel-item
          img.d-block.w-100.h-100(src='/assets/img/works/light/light04.jpg' alt='...')
        .carousel-item
          img.d-block.w-100.h-100(src='/assets/img/works/light/light05.jpg' alt='...')
      button.carousel-control-prev(type='button' data-bs-target='#carouselBanner' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselBanner' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next
    #content
      h1.title.mb-4 電幻
      h5 以光的流動為創作藍本，融合雷射、光劍、互動科技等元素創造前所未見的視覺饗宴。
  .container-fluid.mt-5.py-4
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/2JUG29Rr7Lw?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/cA4M6S04V4U?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/ncpriatR3kY?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/Aeocv8YBC2c?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
  hr
  .container-fluid.py-4
    .vw-auto
      h1.title.my-4 羽化
      h5 旋舞炎 X 投影人 《羽化》
      p 運用當代馬戲演繹卵 - 幼蟲 - 蝶蛹 - 到蝴蝶的蛻變過程 從光的展現到消逝訴說著不同的生命週期 持續不斷的舞動。
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/-AzwzdHh0WU?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/LoEgaOXG7h8?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
  hr
  .container-fluid.py-4
    .vw-auto
      h1.title.my-4 時光軸
      h5 頂尖科技結合火舞新火花!
      p Real time 新媒體技術巧妙且即時地將當下的光影，延遲0.8秒創造出「讓光軸停留在舞台上」的視覺暫留，塑造出不可思議的全新體驗。
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/wum4XEIR7T8?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
  hr
  .container-fluid.py-4
    .vw-auto
      h1.title.my-4 載體
      h5 「旋舞炎劇團」2021 年度作品
      p 以宇宙星體元素為概念，由元素碲-T（地球）硒-S（月亮）為主軸，結合 Wifi x Processing x Pixelpusher，將精心設計好的訊號源載入在機甲控制板內，可以從機甲胸口顯示動態影像，並以世界首創的「浮空環」(Hologram Hoop)、「浮空旗幟」(Hologram stick poi) 及動畫殘像 Virtual poi 呈現強烈的 Cyberpunk 風格視覺作品。
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/KS1eivOd-aY?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/UTnlPxTnPQ0?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .yt-box.vw-auto: iframe.w-100.h-100(src='https://www.youtube.com/embed/KhIytKQBkKY?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)


