extends ../_layout.pug
block variables
  - title = "火舞"
block head
  link(rel="stylesheet" href="/assets/css/fire.css?version="+timestamp)
block body
  img.w-100(src="/assets/img/works/fire/banner.jpg" alt="")
  .container-fluid.g-0: .owl-carousel.owl-theme
    .item: img(src="/assets/img/works/fire/fire01.jpg" alt="")
    .item: img(src="/assets/img/works/fire/fire02.jpg" alt="")
    .item: img(src="/assets/img/works/fire/fire03.jpg" alt="")
    .item: img(src="/assets/img/works/fire/fire04.jpg" alt="")
    .item: img(src="/assets/img/works/fire/fire05.jpg" alt="")
  .container.py-4
    .vw-auto
      h1.title 火舞
      h5 商業、藝文演出  廣告、電影、音樂拍攝
    .vw-auto: .row.g-4.text-center
      .col-xl-6: .youtube-player.ratio.ratio-16x9(data-id="XrrbLLN8h8A")
      .col-xl-6: .youtube-player.ratio.ratio-16x9(data-id="SVRIPJn0-Ms")
      .col-xl-6: .youtube-player.ratio.ratio-16x9(data-id="2JUG29Rr7Lw")
      .col-xl-6: .youtube-player.ratio.ratio-16x9(data-id="4gNyEstYGmU")
block script
  script.
    $( window ).on("load", function(){
      $(".owl-carousel").owlCarousel({
          loop: true,
          dots: true,
          autoWidth: true,
          center: true,
          autoplay: true,
          autoplayTimeout: 5000,
      });
    });