extends ../_layout.pug
block variables
  - title = "火舞"
block head
  link(rel="stylesheet" href="/assets/css/fire.css?version="+timestamp)
  link(rel="stylesheet" href="/assets/package/owlcarousel/owl.carousel.min.css")
  link(rel="stylesheet" href="/assets/package/owlcarousel/owl.theme.default.min.css")
block body
  img.w-100(src="/assets/img/works/fire/banner.jpg" alt="")
  .container-fluid.g-0: .owl-carousel.owl-theme
    .item: img(src="/assets/img/works/fire/fire01.jpg" alt="")
    .item: img(src="/assets/img/works/fire/fire02.jpg" alt="")
    .item: img(src="/assets/img/works/fire/fire03.jpg" alt="")
    .item: img(src="/assets/img/works/fire/fire04.jpg" alt="")
    .item: img(src="/assets/img/works/fire/fire05.jpg" alt="")
  .container.py-4
    .vw-auto
      h1.title 火舞
      h5 #商演 #定目劇 #共同創作
    .vw-auto: .row.g-4.text-center
      .yt-box.col-12: iframe.w-100.h-100(src='https://www.youtube.com/embed/2JUG29Rr7Lw?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
      .yt-box.col-12: iframe.w-100.h-100(src='https://www.youtube.com/embed/SVRIPJn0-Ms?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
      .yt-box.col-12: iframe.w-100.h-100(src='https://www.youtube.com/embed/XrrbLLN8h8A?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
      .yt-box.col-12: iframe.w-100.h-100(src='https://www.youtube.com/embed/4gNyEstYGmU?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
block script
  script(src="/assets/package/owlcarousel/owl.carousel.min.js")
  script.
    $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
          loop: true,
          dots: true,
          autoWidth:true,
          center: true,
          autoplay: true,
          autoplayTimeout: 3000,
      });
    });