extends ../_layout.pug
block variables
  - title = "火舞"
block head
  link(rel="stylesheet" href="/assets/css/fire.css?version="+timestamp)
block body
  #banner.container-fluid.g-0
  .container.py-4
    h1.title 火舞
    h2 #商演 #定目劇 #共同創作
  .container-fluid.py-4
    .yt-box: iframe.w-100.h-100(src='https://www.youtube.com/embed/2JUG29Rr7Lw?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)